<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <div class="relative p-4 pointer-events-none">
    <!-- Input de texto para la hora, que autocompleta al hacer focus -->
    <input type="text" id="floating_outlined"
           class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-500 peer pointer-events-auto top-25"
           [(ngModel)]="hora"
           (focus)="onHoraFocus()"
           (ngModelChange)="onHoraChange($event)"
           placeholder=" ">

    <!-- Ícono para abrir el Time Picker -->
    <ngx-material-timepicker-toggle [for]="picker" class="cursor-pointer pointer-events-auto absolute inset-y-10 right-8 transform -translate-y-1/2 flex items-center pr-3 text-gray-500"></ngx-material-timepicker-toggle>
    <ngx-material-timepicker #picker (timeSet)="onTimeSet($event)" [format]="24"></ngx-material-timepicker>

    <!-- Etiqueta flotante para el input -->
    <label for="floating_outlined"
           class="absolute text-sm bg-white left-6 text-gray-500 duration-300 transform -translate-y-7 scale-75 top-8 z-10 origin-[0] px-2 peer-focus:px-2 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-2 peer-placeholder-shown:top-1/2 peer-focus:top-3 peer-focus:scale-75 peer-focus:-translate-y-2 pointer-events-none transition-all">
      {{ label }}
    </label>

  </div>
  <br>
  <hr>
</div>
